<ssq>

	<realm>automotive</realm>
	<query>what size tire do you need for a 97 toyota corolla?</query>
	
	<input_list>	
		<input type="what" class="q" type="textbox">blah</input>
		...
	</input_list>

	<output_list>
		<output type="what" class="o"/>
		...
	</output_list>

</ssq>
